:root {
  --color-brown-dark: #777;
  --color-black-dark: #393e46;
}

html, body, .root {
  height: 100%;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  
}
body, .app {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

/* main page */

.list-books-title {
  position: absolute;
  top: 60px;
  left: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.list-books-title-main {
  margin: 0;
  padding-bottom: 10px;
  font-size: 20px;
  color: var(--color-black-dark);
}

.list-books-title-sub {
  margin: 0;
  font-size: 10px;
  color: var(--color-brown-dark);
}

.ion-ios-arrow-down {
  display: block;
  margin-left: 30%;
  margin-top: 20px;
  color: var(--color-black-dark);
  font-size: 16px;
  transition: transform .3s ease-in-out;
}

.ion-ios-arrow-down:hover {
  transform: translateY(3px);
}

@media (min-width: 600px) {
  .list-books-title-main {
    font-size: 30px;
  }

  .list-books-title-sub {
    font-size: 16px;
  }

  .list-books-title {
    top: 110px;
    left: 70px;
  }

  .ion-ios-arrow-down {
    margin-left: 30%;
    margin-top: 30px;
    font-size: 30px;
  }
}

@media (min-width: 800px) {
  .list-books-title-main {
    font-size: 42px;
  }

  .list-books-title-sub {
    font-size: 19px;
  }

  .list-books-title {
    top: 160px;
    left: 70px;
  }

  .ion-ios-arrow-down {
    margin-left: 30%;
    margin-top: 40px;
    font-size: 40px;
  }
}

@media (min-width: 1100px) {
  .list-books-title-main {
    font-size: 62px;
  }

  .list-books-title-sub {
    font-size: 24px;
  }

  .list-books-title {
    top: 200px;
    left: 100px;
  }

  .ion-ios-arrow-down {
    margin-left: 30%;
    margin-top: 60px;
    font-size: 44px;
  }
}

@media (min-width: 1800px) {
  .list-books-title-main {
    font-size: 122px;
  }

  .list-books-title-sub {
    font-size: 38px;
  }

  .list-books-title {
    top: 320px;
    left: 100px;
  }

  .ion-ios-arrow-down {
    margin-left: 30%;
    margin-top: 60px;
    font-size: 60px;
  }
}

.book-image {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: overlay;
}

.list-books-content {
  flex: 1;
  padding: 0 0 80px;
}

.bookshelf {
  margin: 100px 30px;
  padding: 0 10px 30px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  color: var(--color-black-dark);
}

/* books grid */

.books-grid {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  position: relative;
  display: flex;
  flex-basis: 340px;
  align-items: center;
  margin: 20px;
  height: 260px;
  box-shadow: 9px -9px 40px -12px rgba(57, 62, 70, 0.3);
}

.book-shelf-changer {
  position: absolute;
  right: 13px;
  top: 3px;
  width: 25px;
  height: 25px; 
  padding-right: 5px;
  background-image: url('https://image.flaticon.com/icons/svg/149/149403.svg');
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.book-aside {
  position: relative;
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 25px;
}

.book-title {
  margin-top: 10px;
  font-size: 1em;
  font-weight: 600;
  color: var(--color-black-dark);
}

.book-authors {
  margin-top: 10px;
  font-size: 0.7em;
  font-weight: 400;
  color: var(--color-brown-dark);
}

.book-view {
  margin-top: 60px;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black-dark);
  cursor: pointer;
  line-height: 2;
}

.book-view:after {
  display: block;
  content: '';
  width: 0;
  height: 2px;
  transition: width .4s ease;
}

.book-view:hover:after {
  width: 75px;
  background-color: var(--color-black-dark);
}

/* add book */

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
  transition: transform .2s ease;
}

.open-search:hover {
  transform: translateY(-4px);
}

.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--color-black-dark);
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  font-size: 0;
}

/* search page */

.search-books-bar {
  position: absolute;
  width: 50%;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: flex;
  border: 2px solid var(--color-brown-dark);
}

.search-books-input-wrapper {
  flex: 1;
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 17px;
}

.search-books-bar input:focus::placeholder {
  opacity: 0;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}
